	// 调整轮播图内容样式
	:deep(.uv-swiper) {
			background-color: #fff !important;
			height: 280rpx !important;

			.uv-swiper__wrapper {
				height: 100% !important;

				.uv-swiper__wrapper__item__wrapper {
					padding: 0 10rpx;
					border-radius: 10rpx;
					height: 100% !important;

					.uv-swiper__wrapper__item__wrapper__image {
						border-radius: 30rpx !important;
						height: 100% !important;
					}
				}
			}
		}
	